@import url("/assets/styles/base.css");
@import url("/assets/styles/header-site.css");
@import url("/assets/styles/footer-site.css");

/* Estilos genéricos */
.card-wrapper {
    width: 100%;
    max-width: 900px;
    margin: 30px auto;
}

.card-wrapper .card {
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
/* Fim estilos genéricos */

/* Início estilização página inicial para usuários (/pages/user/index.html) */
main.user-home {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

main.user-home .card-wrapper h1 {
    font-size: 32px;
    margin-bottom: 15px;
}

main.user-home .card-wrapper h2 {
    font-size: 26px;
    margin-top: 40px;
    margin-bottom: 15px;
}

main.user-home .card-wrapper .card {
    background-color: #028c9f;
    color: #fff;
}

main.user-home .card-wrapper .voting {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

main.user-home .card-wrapper .voting p {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.6;
    text-align: justify;
}

main.user-home .card-wrapper .voting ul {
    margin-left: 20px;
    margin-bottom: 20px;
}

main.user-home .card-wrapper .voting li {
    margin-bottom: 10px;
    line-height: 1.6;
    text-align: justify;
}

main.user-home .card-wrapper .voting-text {
    flex: 1;
}

main.user-home .card-wrapper .voting-illustration {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.user-home .card-wrapper .voting-illustration img {
    max-width: 100%;
    height: auto;
}

main.user-home .card-wrapper .alert {
    background-color: #fceaea;
    color: #a80000;
    padding: 12px 18px;
    border-radius: 15px;
    font-weight: bold;
    margin-top: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main.user-home .card-wrapper .button-group {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}

/* Fim estilização página inicial para usuários (/pages/user/index.html) */

/* Início estilização página de inscrição (/pages/user/inscricao.html) */
main.user-application {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

main.user-application .card-wrapper .card {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    background-color: #fff;
}

main.user-application h1.title {
    color: #005f73;
    font-size: 2em;
    text-align: center;
    margin-bottom: 40px;
}

main.user-application .form-application textarea {
    width: 100%;
    height: 150px;
    padding: 18px;
    border: 2px solid #e0e0e0;
    border-radius: 12px;
    font-size: 18px;
    resize: vertical;
    transition: all 0.3 ease;
}

main.user-application .form-application .textarea-count {
    margin-top: 8px;
    font-size: 14px;
    text-align: right;
    color: #777;
}

main.user-application .form-application .photo-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
    gap: 20px;
    color: #005f73;
    opacity: 0.6;
    transition: all ease-in-out 0.2s;
}

main.user-application .form-application .photo-upload:hover {
    opacity: 1;
}

main.user-application .form-application .photo-upload .wrapper-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    overflow: hidden;
    background: #f0fafc;
    border: 3px dashed #005f73;
    border-radius: 50%;
    cursor: pointer;
}

/* Fim estilização página de inscrição (/pages/user/inscricao.html) */

/* Início estilização página de votação (/pages/user/votacao.html) */
main.user-vote {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

main.user-vote header {
    margin: 30px 0;
    text-align: center;
}

main.user-vote header h1 {
    color: #000;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

main.user-vote header p {
    color: #555;
}

main.user-vote section.candidates {
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;
    justify-content: center;
    gap: 30px;
}

main.user-vote section.candidates .candidate-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    min-width: 300px;
}

@media (max-width: 740px) {
    main.user-vote {
        padding: 0 12px;
    }
    main.user-vote section.candidates .candidate-card {
        width: 100% !important;
    }
}

main.user-vote section.candidates .candidate-card .media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background: linear-gradient(to right, #005c6d, #005262, #004957, #061e2e);
    color: #fff;
}

main.user-vote section.candidates .candidate-card .media .placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 4px solid white;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    font-size: 3rem;
    color: white;
}

main.user-vote section.candidates .candidate-card .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px 20px;
}

main.user-vote section.candidates .candidate-card .content h2 {
    margin-bottom: 15px;
    font-size: 1.4;
    font-weight: 500;
    text-align: center;
    color: #005c6d;
}

main.user-vote section.candidates .candidate-card .content .info-row {
    font-size: 1.1rem;
    margin: 8px 0;
    color: #555;
}

main.user-vote section.candidates .candidate-card .content .info-row i {
    width: 30px;
    font-size: 1.2rem;
    color: #3498db;
}

main.user-vote section.candidates .candidate-card a.vote {
    display: inline-block;
    background: linear-gradient(to right, #005c6d, #005262, #004957, #061e2e);
    background-size: 200% 100%;
    padding: 15px 0;
    width: 100%;
    border: none;
    border-top: 1px solid #eee;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

main.user-vote section.candidates .candidate-card a.vote:hover {
    background-position: 100%;
}

main.user-vote .callout {
    margin: 2em 0;
}

main.user-vote .instructions {
    width: 100%;
}

main.user-vote .instructions .title {
    font-size: 1.5em;
    font-weight: 600;
    color: #005c6d;
    text-align: center;
    margin-bottom: 0.5em;
}

main.user-vote .instructions ol {
    padding-left: 1em;
}
main.user-vote .instructions strong {
    font-weight: 600;
}

#votar-lucas:target ~ .modal .candidate-name::after {
    content: " Lucas Simões.";
}
#votar-julia:target ~ .modal .candidate-name::after {
    content: " Julia Rodrigues.";
}
#votar-rafael:target ~ .modal .candidate-name::after {
    content: " Rafael Moraes.";
}
#votar-gabriel-bueno:target ~ .modal .candidate-name::after {
    content: " Gabriel Bueno.";
}
#votar-gabriel-borges:target ~ .modal .candidate-name::after {
    content: " Gabriel Borges.";
}

/* Fim estilização página de votação (/pages/user/votacao.html) */
