@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins-thin.ttf");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins-thin-italic.ttf");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins-extra-light.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins-extra-light-italic.ttf");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins-light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins-light-italic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins-regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins-italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins-medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins-medium-italic.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins-semi-bold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins-semi-bold-italic.ttf");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins-bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins-bold-italic.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins-extra-bold.ttf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins-extra-bold-italic.ttf");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins-black.ttf");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins-black-italic.ttf");
    font-weight: 900;
    font-style: italic;
}